/*===========================================================================*/
/*  IMAGE SETTINGS                                                           */
/*===========================================================================*/
.img-hover-effect {
    width: 100%;
    overflow: hidden;
    margin-bottom: 25px;
}

.hover-master {
    width: 100%;
    -webkit-transition: transform 400ms;
    -moz-transition: transform 400ms;
    -o-transition: transform 400ms;
    transition: transform 400ms;
}

.hover-mask {
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
}

/*===========================================================================*/
/*  TEXT SETTINGS                                                            */
/*===========================================================================*/
.hover-text {
    position: absolute;
    top: 0px;
    margin-right: 15px;
    line-height: 1;
    color: #fafafa;
    opacity: 0.0;
    -webkit-transition: transform 400ms;
    -moz-transition: transform 400ms;
    -o-transition: transform 400ms;
    transition: transform 400ms;
}

.hover-text-title {
    padding-bottom: 5px;
    border-bottom: 3px solid #fafafa;
}

.hover-text-desc {
    font-size: 14px;
}

/*===========================================================================*/
/*  HOVER SETTINGS                                                           */
/*===========================================================================*/
.hover-mask, .hover-text {
    opacity: 0.0;
    -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
}

.img-hover-effect:hover > .hover-master {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}

.img-hover-effect:hover > .hover-mask,
.img-hover-effect:hover > .hover-text {
    opacity: 1.0;
    -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
}

.img-hover-effect:hover > .hover-text {
    -webkit-transform: translate(15px, 0px);
    -moz-transform: translate(15px, 0px);
    -o-transform: translate(15px, 0px);
    transform: translate(15px, 0px);
}