/*===========================================================================*/
/*  BOOTSTRAP OVERRIDES                                                      */
/*===========================================================================*/
html, body {
	width: 100%;
	height: 100%;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    background-color: #ececec;
    color: #3a3a3a;
}

body {
	overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.5;
    font-weight: 800;
}

.progress, .progress-bar {
    height: 8px;
    font-size: 8px;
    line-height: 8px;
    border: none;
    border-radius: 0px;
}

.progress {
    background-color: #343434;
}

.progress-bar {
    background-color: #ececec;
    opacity: 1.0;
}

.hvr, .hvr:visited {
    border-bottom: 2px solid;
    color: inherit;
    transition: all 300ms;
}

.hvr:hover, .hvr:active {
    opacity: 0.5;
    color: inherit;
    text-decoration: none;
    transition: all 300ms;
}

/*===========================================================================*/
/*  CUSTOM STYLES                                                            */
/*===========================================================================*/
.fancy {
    font-family: 'Leckerli One', cursive;
}

.title {
    font-size: 64px;
    color: #ffbf00;
}

.heavy {
    font-weight: 800;
}

.light {
    opacity: 0.75;
}

.lighter {
    opacity: 0.5;
}

.tight {
    line-height: 1.0;
}

.tighter {
    line-height: 0.75;
}

::-webkit-scrollbar { 
    display: none; 
}

/*===========================================================================*/
/*  PANES                                                                    */
/*===========================================================================*/
.pane-left {
    display: inline-block;
    position: relative;
    padding: 50px 75px;
    background-color: #191d20;
    color: #ececec;
} @media (min-width: 768px) {
    .pane-left {
        float: left;
        position: fixed;
        top: 0;
        height: 100%;
        width: 60%;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        overflow-x: hidden;
    }
}

.pane-right, .pane-right-sm {
    display: inline-block;
    position: relative;
    width: 100%;
    padding: 50px 75px;
    background-color: #ececec;
    color: #191d20;
} @media (min-width: 768px) {
    .pane-right {
        float: right;
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        width: 40%;
    }
}

/*===========================================================================*/
/*  LEFT PANE                                                                */
/*===========================================================================*/
.pane-left { }

.pane-left .row {
    padding-left: 5px;
}

.left-block {
    margin-bottom: 50px;
}

.number {
    vertical-align: super;
    margin-left: -20px;
    padding: 0 10px 0 0;
    font-size: 12px;
    font-weight: 800;
    color: #ffbf00;
}

.skill-title {
    line-height: 0.75;
}

.skill-bar {
    margin-bottom: 12px;
}

.skill-desc {
    margin-top: 0px;
    line-height: 0.0;
    color: #5a5a5a;
}

/*===========================================================================*/
/*  RIGHT PANE                                                               */
/*===========================================================================*/
@media (max-width: 768px) {
    .pane-right {
        display: none;
    }
}

@media (min-width: 768px) {
    .pane-right-sm {
        display: none;
    }
}

.pane-right .title {
    margin-top: 75%;
}

.right-footer {
    position: absolute;
    left: 65px;
    bottom: 30px;
}

.social, .social:visited {
    color: #3a3a3a;
    margin-left: 10px;
    transition: all 300ms;
}

.social:hover, .social:active {
    color: #ffbf00;
    transition: all 300ms;
}